<form class='add-recipe' method="post" action="/api/posts">


    <input placeholder="title" name="title">
    <textarea placeholder="content" rows=3 cols=15 name="content"></textarea>
   


    <button type="submit">add</button>



</form>
